.slider {
    overflow-x: scroll;
    padding: 10px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider table td {
    padding: 5px;
}

.slider table::-webkit-scrollbar {
    display: none;
}
